@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: #ffffff;
}

@keyframes fadeInOut {
  0% {
    opacity: 0; /* 初始状态完全透明 */
  }
  50% {
    opacity: 1; /* 50%时完全不透明，淡入效果 */
  }
  100% {
    opacity: 0; /* 结束时完全透明，淡出效果 */
  }
}
